.root {
  width: 400px;
  padding: 60px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.field {
  margin-bottom: 20px !important;
}

.title {
  text-align: center !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.additionalText {
  display: flex;
  text-align: center !important;
  // font-weight: bold !important;
  margin-bottom: 15px !important;
  color: gray;
}
